{% extends 'base.html.twig' %}
{# FORMULARIO DE REGISTRO DE CREACION DE ACTIVIDAD Creado desde---->   Form/CreateActivityFormType.php



{# Pretendia que esta vista se extendiera de adminDashboard.html.twig para que el formulario apareciera a 
continuacion de la lista de actividades, pero al hacerlo solo extiende de base.html.twig..No se por que #}

{# {% block stylesheets %}
	<style>
		.mapa{
			display: inline-block;
			margin: auto;
			width: 50%;
		}
		#mapa{
			float:right;
		}
	</style>
{% endblock %} #}
{% block body %}

<section class="mapa1">
	<div class="mapa col-lg-7 mr-7 ml-auto col-md-12">
	
	<div class=" frm col-lg-9 ml-auto">
	<h1 class="cf-titulo">Crear Nueva Actividad</h1>
		{{ form_start(form) }}
		{{ form_row(form.activity_name) }}
		{{ form_row(form.description) }}
		{{ form_row(form.tickets) }}
		{{ form_row(form.start_ubication) }}
		{{ form_row(form.end_ubication) }}
		{{ form_row(form.start_coord) }}
		{{ form_row(form.end_coord) }}
		{{ form_row(form.price) }}
		{{ form_row(form.image) }}
		{{ form_row(form.date) }}
		{{ form_row(form.city) }}
		{{ form_row(form.company_name, {'value': app.user.companyname}) }}

		{{ form_row(form.company_website, {'value': app.user.companywebsite}) }}

		<button type="submit">Guardar</button>
		{{ form_end(form) }}
</div>
		

	</div>
	<div class="mapa col-lg-4 mr-auto ml-auto col-md-12" id="mapa" >
		<div id="map" style="height: 500px; width: 100%;"></div>
		<button type="button" id="clear">Borrar Seleccion</button> 
	</div>
	</section>
	{# {% block javascripts %}
		<script src="{{ asset('/scripts/mapa.js') }}">
		</script>	
	
	{% endblock %} #}
{% endblock %}
